certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
frappe-bench==5.25.9
gitdb==4.0.12
GitPython==3.1.45
honcho==2.0.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.3
python-crontab==2.6.0
python-dateutil==2.9.0.post0
requests==2.32.5
semantic-version==2.10.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
stripe==13.0.1
typing_extensions==4.15.0
urllib3==2.5.0
uv==0.7.22
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
cryptography==46.0.3
DateTime==5.5
frappe-bench==5.25.9
gitdb==4.0.12
GitPython==3.1.45
honcho==2.0.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.3
pycparser==2.23
PyJWT==2.10.1
python-crontab==2.6.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
semantic-version==2.10.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
stripe==13.0.1
typing_extensions==4.15.0
urllib3==2.5.0
uv==0.7.22
zope.interface==8.0.1
